@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

body {
  background-color: black; }

.header {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  background: #007a7a;
  background: linear-gradient(95deg, #0a3636 0%, #0f7b70 44%, #00a5aa 100%); }
  .header img {
    width: 140px;
    margin-top: 5px; }
  .header .navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    list-style: none; }
    .header .navbar li a {
      text-decoration: none;
      font-size: 17px;
      color: #ffffff68;
      font-weight: 680;
      padding: 15px;
      transition: all 1s ease; }
      .header .navbar li a:hover {
        color: #002731;
        box-shadow: 1px 1px 11px 1px #000000;
        border-radius: 20px; }

.footer {
  background: #007a7a;
  background: linear-gradient(90deg, #007a7a 0%, #003a35 44%, #001a1b 100%);
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: black;
  text-align: center; }
  .footer .link {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2px;
    font-size: 18px;
    flex-wrap: wrap;
    color: aqua; }
    .footer .link .bx {
      font-size: 40px;
      color: #00ffdd; }

.main-index {
  background-image: url(../assets/wp8092690-gaming-keyboards-wallpapers.jpg);
  background-size: cover;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 175px); }
  .main-index .tittleh2 {
    grid-column: 2 / 9;
    grid-row: 1 / 2;
    color: white;
    font-size: 30px;
    justify-self: center;
    align-self: center;
    color: #00c3c3; }
  .main-index .tittleh3 {
    grid-column: 2 / 9;
    grid-row: 1 / 2;
    color: white;
    text-align: center;
    padding-top: 285px;
    color: #ffffff;
    font-size: 30px; }
  .main-index .container-prod {
    grid-column: 2 / 9;
    grid-row: 4 / 5;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .main-index .container-prod .productos {
      height: 70%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      color: black; }
      .main-index .container-prod .productos .prod-style {
        position: relative;
        box-shadow: none;
        border-radius: 25px;
        transform-origin: center;
        overflow: hidden;
        background-color: #00ffdd;
        border: 2px solid #00ffdd;
        width: 180px;
        backdrop-filter: blur(25px);
        box-shadow: 0 5px 20px #ffffff4d; }
        .main-index .container-prod .productos .prod-style .card-productos {
          text-align: center; }
          .main-index .container-prod .productos .prod-style .card-productos .card-cuerpo h2 {
            margin: 0 0 18px 0;
            font-size: 25px;
            border-bottom: 1px solid #414141b6; }
          .main-index .container-prod .productos .prod-style .card-productos .card-cuerpo a {
            font-size: 18px;
            padding-bottom: 25px;
            text-decoration: none;
            color: #000000; }
            .main-index .container-prod .productos .prod-style .card-productos .card-cuerpo a:hover {
              color: #ffffff; }

.main-nosotros {
  background-image: url(../assets/fondito.jpg.jpg);
  background-size: cover;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 108px);
  align-self: center; }
  .main-nosotros .manifiesto-0 {
    color: white;
    grid-column: 2/8;
    grid-row: 1/2;
    align-self: center;
    justify-self: center; }
  .main-nosotros .manifiesto-1 {
    color: white;
    grid-column: 2/8;
    grid-row: 2/3; }
  .main-nosotros .manifiesto-2 {
    color: white;
    grid-column: 2/8;
    grid-row: 3/4; }
  .main-nosotros .manifiesto-3 {
    color: white;
    grid-column: 2/8;
    grid-row: 4/5; }
  .main-nosotros .manifiesto-4 {
    color: white;
    grid-column: 2/8;
    grid-row: 5/6;
    align-self: center;
    justify-self: center; }
    .main-nosotros .manifiesto-4 span {
      color: #00ffdd; }

.main-productos .titulo-prod {
  color: white; }

.main-productos .products {
  width: 100%;
  align-self: center;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px; }
  .main-productos .products .product {
    position: relative;
    background-color: #000000;
    width: 358px;
    height: 65vh;
    box-shadow: 0 5px 20px #004040;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: 0.3s; }
  .main-productos .products .product:hover {
    transform: translateY(-15px);
    box-shadow: 2px 5px 10px #00d5ff; }
  .main-productos .products .image {
    width: 100%;
    height: 80%;
    display: grid;
    place-content: center; }
    .main-productos .products .image img {
      width: 350px; }
  .main-productos .products .namePrice h3 {
    font-size: 2em;
    text-transform: capitalize;
    color: white;
    padding-top: -70%; }
    .main-productos .products .namePrice h3 .namePrice span {
      padding-top: -28%;
      font-size: 15px; }
  .main-productos .products .buy {
    position: absolute;
    bottom: 20px;
    right: 20px; }
  .main-productos .products .buy button {
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: #003038;
    color: #005a64;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.5s; }
  .main-productos .products .buy button:hover {
    transform: scale(0.5);
    color: #00d5ff; }

.main-pdv {
  background-color: black; }
  .main-pdv .h1-pdv {
    color: #eee;
    font-size: 40px;
    display: flex;
    justify-content: center; }
  .main-pdv .container {
    display: flex;
    justify-content: center; }
    .main-pdv .container .boton-c {
      background-image: linear-gradient(to right, #00ccff 0%, #0088ff 51%, #00ff99 100%);
      margin-top: 30px;
      padding: 15px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 0 20px #004b41;
      border-radius: 10px;
      display: block; }
    .main-pdv .container .boton-c:hover {
      background-position: right center;
      /* change the direction of the change here */
      color: #fff;
      text-decoration: none; }
  .main-pdv .boton-d {
    background-image: linear-gradient(to right, #006e72 0%, #00564d 51%, #00ff99 100%);
    margin-top: 30px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #004b41;
    border-radius: 10px;
    display: block; }
  .main-pdv .boton-d:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none; }

.consulta {
  background-image: url(../assets/esteva.jpg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center; }
  .consulta .compras {
    font-size: 40px;
    text-align: center;
    color: white; }
  .consulta .ventas {
    font-size: 40px;
    text-align: center;
    color: white; }
  .consulta .ayuda-cuenta {
    text-align: center;
    font-size: 25px;
    color: white; }
  .consulta .boton {
    background-color: #8f8f8f;
    color: #000000d0;
    text-align: center;
    width: 160px;
    height: 30px;
    border-radius: 50px; }
  .consulta .boton:hover {
    color: #050505;
    transition: 0.9s ease;
    box-shadow: 4px 4px 4px 4px #ff8b8b; }

@media (max-width: 1440px) {
  .main-index {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 175px); }
    .main-index .tittleh2 {
      grid-column: 1/10;
      grid-row: 1/2;
      font-size: 20px; }
    .main-index .tittleh3 {
      grid-column: 1/10;
      grid-row: 2/3;
      color: #ffffff;
      text-align: center;
      padding-top: 110px;
      font-size: 20px; }
    .main-index .container-prod {
      grid-column: 1/10;
      grid-row: 3/5; } }

.titulo-prod {
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-top: 20px; }

.footer {
  width: auto;
  height: 80px;
  align-items: center; }

@media (max-width: 768px) {
  .header {
    flex-direction: column; }
    .header img {
      width: 120px;
      margin-top: 14px; }
    .header .navbar {
      display: flex;
      gap: 0px;
      align-items: center;
      list-style: none; }
      .header .navbar li a {
        text-decoration: none;
        font-size: 14px;
        color: #ffffff68;
        font-weight: 680;
        transition: all 1s ease; }
        .header .navbar li a:hover {
          color: #ffffff;
          box-shadow: 1px 1px 11px 1px #000000;
          border-radius: 20px; }
  .main-index {
    grid-template-rows: repeat(6, 175px); }
    .main-index .tittleh2 {
      font-size: 13px;
      grid-column: 1 / 10; }
    .main-index .tittleh3 {
      grid-column: 1 / 10;
      grid-row: 2 / 3;
      align-self: start;
      padding-top: 25px;
      font-size: 17px; }
    .main-index .container-prod {
      grid-column: 1 / 10;
      align-self: center;
      grid-row: 4 / 5; }
  .main-productos .titulo-prod {
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding-top: 40px; }
  .main-productos .product {
    width: 300px;
    height: 45vh; }
  .main-productos .namePrice h3 {
    font-size: 15px; }
  .main-productos .image img {
    width: 310px; } }

@media (max-width: 425px) {
  .header {
    min-height: 70px;
    display: flex; }
    .header .navbar {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      list-style: none; }
  .main-index {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 175px); }
    .main-index .tittleh2 {
      grid-column: 1 / 10;
      grid-row: 2 / 3;
      padding-bottom: 300px;
      font-size: 10px; }
    .main-index .tittleh3 {
      font-size: 14px; }
    .main-index .container-prod {
      grid-row: 3 / 9; }
  .titulo-prod {
    font-size: 25px; }
  .product {
    width: 308px;
    height: 55vh; }
  .namePrice h3 {
    font-size: 18px; }
  .image img {
    width: 315px; }
  .link {
    display: flex;
    align-items: center; } }

@media (max-width: 375px) {
  .header {
    min-height: 70px;
    display: flex; }
    .header .navbar {
      display: flex;
      flex-direction: column; }
      .header .navbar .menu {
        flex-direction: column; }
  .main-index .tittleh2 {
    grid-column: 1 / 10;
    grid-row: 2 / 3;
    font-size: 10px; }
  .main-index .tittleh3 {
    font-size: 13px; }
  .main-index .titulo-prod {
    font-size: 22px; }
  .main-productos .product {
    width: 308px;
    height: 55vh; }
  .main-productos .namePrice h3 {
    font-size: 20px; }
  .main-productos .image img {
    width: 315px; }
  .footer .simb {
    display: none; } }
