@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

body {
  background-color: black; }

.header {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  background: #007a7a;
  background: linear-gradient(95deg, #0a3636 0%, #0c4a44 44%, #007c81 100%); }
  .header img {
    width: 140px;
    margin-top: 5px; }
  .header .navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    list-style: none; }
    .header .navbar li a {
      text-decoration: none;
      font-size: 17px;
      color: #dddddd;
      font-weight: 680;
      padding: 15px;
      transition: all 1s ease; }
      .header .navbar li a:hover {
        color: #002731;
        box-shadow: 1px 1px 11px 1px #000000;
        border-radius: 20px; }

.footer {
  background: linear-gradient(90deg, #007a7a 0%, #003a35 44%, #001a1b 100%);
  display: flex;
  justify-content: space-around;
  color: white;
  text-align: center; }
  .footer .link {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2px;
    font-size: 18px;
    flex-wrap: wrap; }
    .footer .link img {
      padding-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      height: 70px;
      width: 60px;
      font-size: 40px;
      transition-duration: 0.5s; }
    .footer .link img:hover {
      transform: translate(0, -10%); }

.main-index {
  background-image: url(../assets/wp8092690-gaming-keyboards-wallpapers.jpg);
  background-size: cover;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 175px); }
  .main-index .tittleh2 {
    grid-column: 2 / 9;
    grid-row: 1 / 2;
    color: white;
    font-size: 30px;
    justify-self: center;
    align-self: center;
    color: #00d6d6; }
  .main-index .tittleh3 {
    grid-column: 2 / 9;
    grid-row: 1 / 2;
    color: white;
    text-align: center;
    padding-top: 285px;
    color: #ffffff;
    font-size: 30px; }
  .main-index .container-prod {
    grid-column: 2 / 9;
    grid-row: 4 / 5;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .main-index .container-prod .productos {
      height: 70%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      color: black; }
      .main-index .container-prod .productos .prod-style {
        position: relative;
        box-shadow: none;
        border-radius: 25px;
        transform-origin: center;
        overflow: hidden;
        background-color: #009f85;
        border: 2px solid #00ffdd;
        width: 180px;
        backdrop-filter: blur(25px);
        box-shadow: 0 5px 20px #ffffff4d; }
        .main-index .container-prod .productos .prod-style:hover {
          box-shadow: 1px 1px 11px 1px #00ff5e;
          background-color: transparent;
          color: #00ffdd;
          transition: all .7s ease; }
        .main-index .container-prod .productos .prod-style .card-productos {
          text-align: center; }
          .main-index .container-prod .productos .prod-style .card-productos .card-cuerpo h2 {
            margin: 0 0 18px 0;
            font-size: 25px;
            border-bottom: 1px solid #414141b6; }
          .main-index .container-prod .productos .prod-style .card-productos .card-cuerpo a {
            font-size: 18px;
            padding-bottom: 25px;
            text-decoration: none;
            color: white; }
            .main-index .container-prod .productos .prod-style .card-productos .card-cuerpo a:hover {
              color: #00ffdd; }

.main-nosotros {
  background-image: url(../assets/fondito.jpg.jpg);
  background-size: cover;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 108px);
  align-self: center; }
  .main-nosotros .manifiesto-0 {
    color: white;
    grid-column: 2/8;
    grid-row: 1/2;
    align-self: center;
    justify-self: center; }
  .main-nosotros .manifiesto-1 {
    color: white;
    font-size: 15px;
    grid-column: 2/8;
    grid-row: 2/3; }
    .main-nosotros .manifiesto-1 .subra {
      color: aqua; }
  .main-nosotros .manifiesto-4 {
    grid-column: 4/8;
    grid-row: 7/8;
    color: aqua; }
    .main-nosotros .manifiesto-4 .img-nosotros {
      position: relative;
      left: -100px; }

.main-productos {
  background-image: url(https://images.unsplash.com/photo-1653082379311-0e72bca7ddb2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80); }
  .main-productos .titulo-prod {
    color: white;
    display: flex;
    justify-content: center; }
  .main-productos .products {
    width: 100%;
    align-self: center;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px; }
    .main-productos .products .product {
      color: #ffffff;
      position: relative;
      background-color: transparent;
      width: 328px;
      height: 65vh;
      box-shadow: 0 5px 20px black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 20px 40px;
      border-radius: 10px;
      transition: 0.3s; }
    .main-productos .products .product:hover {
      transform: translateY(-15px);
      box-shadow: 7px 5px 12px #00bfff; }
    .main-productos .products .image {
      width: 100%;
      height: 60%;
      display: grid;
      place-content: center; }
      .main-productos .products .image img {
        width: 350px; }
    .main-productos .products .namePrice h3 {
      font-size: 2em;
      text-transform: capitalize;
      color: #ffffff;
      font-size: 30px;
      padding-top: -70%; }
    .main-productos .products .namePrice span {
      padding-top: -28%;
      font-size: 23px; }
    .main-productos .products .buy {
      position: absolute;
      bottom: 10px;
      right: 5px; }
    .main-productos .products .buy button {
      padding: 10px 20px;
      border-radius: 17px;
      border: none;
      background-color: #0093ad;
      color: #ffffff;
      font-size: 10px;
      text-transform: lowercase;
      cursor: pointer;
      transition: 0.5s; }
    .main-productos .products .buy button:hover {
      transform: scale(1.1);
      color: #00d5ff; }

.main-pdv {
  background-image: url(https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80);
  background-position: center;
  background-size: cover; }
  .main-pdv .h1-pdv {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center; }
  .main-pdv .txt-pdv {
    margin: 20px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white; }
  .main-pdv .txt-pdv2 {
    margin: 10px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    color: white; }
  .main-pdv .container {
    display: flex;
    justify-content: center; }
    .main-pdv .container .boton-c {
      background-image: linear-gradient(to right, #00ccff 0%, #0088ff 51%, #00ff99 100%);
      margin-top: 30px;
      padding: 15px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 0 20px #004b41;
      border-radius: 10px;
      display: block; }
    .main-pdv .container .boton-c:hover {
      background-position: right center;
      color: #fff;
      text-decoration: none; }
  .main-pdv .boton-d {
    background-image: linear-gradient(to right, #006e72 0%, #00564d 51%, #00ff99 100%);
    margin-top: 30px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #004b41;
    border-radius: 10px;
    display: block; }
  .main-pdv .boton-d:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none; }
  .main-pdv svg {
    display: block;
    font: 10.5em "Poppins";
    width: 660px;
    height: 300px;
    margin: 0 auto; }
  .main-pdv .text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear; }
  .main-pdv .text-copy:nth-child(1) {
    stroke: #006d5b;
    animation-delay: -1; }
  .main-pdv .text-copy:nth-child(2) {
    stroke: #00f2ff;
    animation-delay: -2s; }
  .main-pdv .text-copy:nth-child(3) {
    stroke: #00f2ff;
    animation-delay: -3s; }
  .main-pdv .text-copy:nth-child(4) {
    stroke: #00c1b4;
    animation-delay: -4s; }
  .main-pdv .text-copy:nth-child(5) {
    stroke: #190069;
    animation-delay: -5s; }

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%; } }

.consulta {
  background-image: url(https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .consulta .compras {
    font-size: 25px;
    text-align: center;
    color: white; }
  .consulta .btn--grad {
    font-size: 30px;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #008929, #00ff99, #3ca55c);
    background-size: 300% auto;
    color: #fff;
    transition: background-position .5s ease; }
  .consulta .btn--grad:hover {
    background-position: 100%;
    background-position: 100%;
    box-shadow: 1px 1px 40px #00f2ff;
    transition: all .3s ease; }
  .consulta .ventas {
    font-size: 25px;
    text-align: center;
    color: white; }
  .consulta .ayuda-cuenta {
    text-align: center;
    font-size: 28px;
    color: white; }
  .consulta .boton {
    background-color: #8f8f8f;
    color: #000000d0;
    text-align: center;
    width: 160px;
    height: 30px;
    border-radius: 50px; }
  .consulta .boton:hover {
    color: #050505;
    transition: 0.9s ease;
    box-shadow: 4px 4px 4px 4px #ff8b8b; }

@media (max-width: 1024px) {
  .main-nosotros .manifiesto-1 {
    grid-row: 2/4;
    font-size: 5px; }
  .main-nosotros .manifiesto-4 {
    grid-row: 8/8; }
  .main-nosotros img {
    display: flex;
    justify-content: center;
    background-size: cover; } }

@media (max-width: 1440px) {
  .main-index {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 175px); }
    .main-index .tittleh2 {
      grid-column: 1/10;
      grid-row: 1/2;
      font-size: 20px; }
    .main-index .tittleh3 {
      grid-row: 3/4;
      color: #ffffff;
      text-align: center;
      padding-top: 110px;
      font-size: 20px; }
    .main-index .container-prod {
      grid-column: 1/10;
      grid-row: 3/5; } }

.main-nosotros .manifiesto-1 {
  font-size: 22px; }

.main-productos h3 {
  font-size: 45px; }

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    flex-wrap: wrap; }
    .header img {
      width: 120px;
      margin-top: 14px; }
    .header .navbar {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      list-style: none; }
      .header .navbar li a {
        text-decoration: none;
        font-size: 14px;
        color: #ffffff68;
        font-weight: 680;
        transition: all 1s ease; }
        .header .navbar li a:hover {
          color: #ffffff;
          box-shadow: 1px 1px 11px 1px #000000;
          border-radius: 20px; }
  .main-index {
    grid-template-rows: repeat(6, 175px); }
    .main-index .tittleh2 {
      font-size: 13px;
      grid-column: 1 / 10; }
    .main-index .tittleh3 {
      grid-column: 1 / 10;
      grid-row: 2 / 3;
      align-self: start;
      padding-top: 25px;
      font-size: 17px; }
    .main-index .container-prod {
      grid-column: 1 / 10;
      align-self: center;
      grid-row: 4 / 5; }
  .main-nosotros {
    grid-template-rows: repeat(9, 175px); }
    .main-nosotros .manifiesto-4 {
      grid-column: 4/8;
      grid-row: 8/8;
      color: aqua; }
      .main-nosotros .manifiesto-4 .img-nosotros {
        position: relative;
        left: -185px; }
    .main-nosotros .main-productos .titulo-prod h3 {
      font-size: 25px;
      display: flex;
      justify-content: center;
      padding-top: 40px; }
    .main-nosotros .main-productos .product {
      width: 180px;
      height: 45vh; }
    .main-nosotros .main-productos .namePrice {
      font-size: 10px; }
    .main-nosotros .main-productos .image img {
      width: 360px; } }

@media (max-width: 425px) {
  .header {
    min-height: 70px;
    display: flex; }
    .header .navbar {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      list-style: none; }
  .main-index {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 175px); }
    .main-index .tittleh2 {
      grid-column: 1 / 10;
      grid-row: 2 / 3;
      padding-bottom: 300px;
      font-size: 10px; }
    .main-index .tittleh3 {
      font-size: 14px; }
    .main-index .container-prod {
      grid-row: 3 / 9; }
  .main-productos .products .product {
    width: 300px; }
  .main-productos .products .image img {
    width: 300px; }
  .main-productos h3 {
    font-size: 20px; }
  .main-productos .product {
    width: 308px;
    height: 55vh; }
  .main-productos .namePrice h3 {
    font-size: 18px; }
  .main-productos .image img {
    width: 315px; }
  .simb {
    display: none; } }

@media (max-width: 375px) {
  .header {
    min-height: 90px;
    display: flex; }
    .header .navbar {
      display: flex;
      flex-direction: column; }
      .header .navbar .menu {
        flex-direction: column; }
  .main-index .tittleh2 {
    grid-column: 1 / 10;
    grid-row: 2 / 3;
    font-size: 9px; }
  .main-index .tittleh3 {
    font-size: 12px; }
  .main-index .titulo-prod {
    font-size: 22px; }
  .main-productos h3 {
    font-size: 18px; }
  .main-productos .product {
    width: 308px;
    height: 55vh; }
  .main-productos .namePrice h3 {
    font-size: 10px; }
  .main-productos .image img {
    width: 315px; } }
