@media (max-width: 768px) {
  .header {
    flex-direction: column;
    flex-wrap: wrap;
    img {
      width: 120px;
      margin-top: 14px;
    }
    .navbar {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      list-style: none;
      li a {
        text-decoration: none;
        font-size: 14px;
        color: #ffffff68;
        font-weight: 680;
        transition: all 1s ease;
        &:hover {
          color: #ffffff;
          box-shadow: 1px 1px 11px 1px #000000;
          border-radius: 20px;
        }
      }
    }
  }
  .main-index {
    grid-template-rows: repeat(6, 175px);
    .tittleh2 {
      font-size: 13px;
      grid-column: 1 / 10;
    }
    .tittleh3 {
      grid-column: 1 / 10;
      grid-row: 2 / 3;
      align-self: start;
      padding-top: 25px;
      font-size: 17px;
    }
    .container-prod {
      grid-column: 1 / 10;
      align-self: center;
      grid-row: 4 / 5;
    }
  }
  .main-productos {
    .titulo-prod h3{
      font-size: 25px;
      display: flex;
      justify-content: center;
      padding-top: 40px;
    }
    .product{
      width: 180px;
      height: 45vh;
    }
    .namePrice{
      font-size: 10px;
    }
    .image img {
      width: 360px;
    }
  }
}
