@media (max-width: 425px) {
  .header {
    min-height: 70px;
    display: flex;
    .navbar {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      list-style: none;
    }
  }
  .main-index {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 175px);
    .tittleh2 {
      grid-column: 1 / 10;
      grid-row: 2 / 3;
      padding-bottom: 300px;
      font-size: 10px;
    }
    .tittleh3 {
      font-size: 14px;
    }
    .container-prod {
      grid-row: 3 / 9;
    }
  }
  .main-productos {
    .products .product{
      width: 300px;
    }
    .products .image img{
      width: 300px;
    }
    h3{
      font-size: 20px;
    }
    .product {
      width: 308px;
      height: 55vh;
    }
    .namePrice h3 {
      font-size: 18px;
    }
    .image img {
      width: 315px;
    }
  }
  .simb{
    display: none;
  }

}
