@media (max-width: 1024px){
    .main-nosotros{
        .manifiesto-1{
            grid-row: 2/9;
            font-size: 5px;
        }
        .manifiesto-4{
            grid-row: 8/8;
        }
        img{
            display: flex;
            justify-content: center;
            background-size: cover;
        }
    }
}