.footer {
  background: linear-gradient(
    90deg,
    rgba(0, 122, 122, 1) 0%,
    rgb(0, 58, 53) 44%,
    rgba(0, 26, 27, 1) 100%
  );
  display: flex;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  text-align: center;
  .link {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2px;
    font-size: 18px;
    flex-wrap: wrap;
    color: #00c5c5;
    .bx {
      font-size: 45px;
      color: #1fb5b5;
    }
  }
}
