.header {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  background: rgb(0, 122, 122);
  background: linear-gradient(
    95deg,
    rgb(10, 54, 54) 0%,
    rgb(12, 74, 68) 44%,
    rgb(0, 124, 129) 100%
  );
  img {
    width: 140px;
    margin-top: 5px;
   
  }
  .navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    list-style: none;
    li a {
      text-decoration: none;
      font-size: 17px;
      color: #ffffff;
      font-weight: 680;
      padding: 15px;
      transition: all 1s ease;
      &:hover {
        color: #002731;
        box-shadow: 1px 1px 11px 1px #000000;
        border-radius: 20px;
      }
    }
  }
}
