.main-nosotros {
  background-image: url(../assets/fondito.jpg.jpg);
  background-size: cover;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 108px);
  align-self: center;
  .manifiesto-0 {
    color: $background-tercero;
    grid-column: 2/8;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
  }
  .manifiesto-1 {
    color: $background-tercero;
    font-size: 15px;
    grid-column: 2/8;
    grid-row: 2/3;
    .subra{
      color: aqua;
    }
  }
  .manifiesto-4 {
    grid-column: 4/8;
    grid-row: 7/8;
    color: aqua;
    .img-nosotros {
      position: relative;
      left: -100px;
    }
  }
}
